@model IEnumerable<AjaxLinksAndForms.Models.Student>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
                    <a asp-controller="Students" asp-action="AjaxEdit"
                       data-ajax="true"
                       data-ajax-method="GET"
                       data-ajax-update="#studentEdit"
                       data-ajax-url="Students\AjaxEdit?id=@item.StudentId"
                       data-ajax-mode="replace">Ajax-Edit</a>|
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })|
                    <a asp-controller="Students" asp-action="AjaxDelete"
                       data-ajax-begin="return confirm('Are you sure?')"
                       data-ajax="true"
                       data-ajax-method="GET"
                       data-ajax-update="#studentList"
                       data-ajax-url="Students\AjaxDelete?id=@item.StudentId"
                       data-ajax-mode="replace">Ajax-Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>